@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

.PriceModule {
  padding: 50px 100px;
  background-color: #1e1e2d;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include mobile {
    padding: 30px;
    max-width: 300px;
  }
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 48px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.error {
  margin: 20px 0;
  margin-bottom: 20px;
  color: red;
  font-size: 18px;
}

.ticker {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 4px;
  font-size: 32px;
  vertical-align: text-top;
}

.title {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 10px;
}
